.Flex-all-centre{
    display: flex;
    justify-content: left;
    align-items: center;
}

.btn{
    padding: 50px 10px;
    color: #fff;
    background: var(--main-bg-color);
    border: 20px solid #fff;
    border-radius: 70px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
}
